<launch>
    <node name="payload_sdk_ros1_node" pkg="payload_sdk_ros1" type="payload_sdk_ros1" output="screen" >
        <param name="dji/topic_nav_pub" value="/guandao1" type="string"/>
        <param name="dji/topic_ctrl_sub" value="/mavros/setpoint_raw/local" type="string"/>
        <param name="dji/gps_accuracy_threshold" value="2.0" type="double"/>
        <param name="dji/data_loop_rate" value="10.0" type="double"/>
        <param name="dji/cmd_type" value="60" type="string"/>      <!-- mavros OR 60 -->
        <param name="dji/livox_trans_enable" value="false" type="bool"/>
        <param name="dji/livox_sub_topic" value="/livox/lidar" type="string"/>

        <param name="dji/livox_trans_matrix/pitch" value="-15.0" type="double"/>
        <param name="dji/livox_trans_matrix/roll" value="180.0" type="double"/>
        <param name="dji/livox_trans_matrix/yaw" value="0.0" type="double"/>
        <param name="dji/livox_trans_matrix/x" value="0.0" type="double"/>
        <param name="dji/livox_trans_matrix/y" value="0.0" type="double"/>
        <param name="dji/livox_trans_matrix/z" value="0.0" type="double"/>
    </node>

    <node name="livox_trans_node" pkg="payload_sdk_ros1" type="livox_data_trans" output="screen">
        <param name="dji/livox_sub_topic" value="/livox/lidar" type="string"/>
        <param name="dji/livox_trans_matrix/pitch" value="-15.0" type="double"/>
        <param name="dji/livox_trans_matrix/roll" value="180.0" type="double"/>
        <param name="dji/livox_trans_matrix/yaw" value="0.0" type="double"/>
        <param name="dji/livox_trans_matrix/x" value="0.0" type="double"/>
        <param name="dji/livox_trans_matrix/y" value="0.0" type="double"/>
        <param name="dji/livox_trans_matrix/z" value="0.0" type="double"/>
    </node>

</launch>